.img-fluid{
    max-width: 100%;
    height: auto;

}  

.header{
    height: 700px;
    width: 100%;
    background-image:url("Images/Prad_pic2.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header h5{
    font-size: 40px;
    font-weight: 700;
    color: #f1d550;
    margin-top: 85px;
}
.navbar-item {
    margin-left: 14px;
}

.elaboration {
    margin: 15px 10px 15px 10px;
}
.roundedcircle{
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
}

